*{
	background-color: red;
}

.socialnetworks{
	font-size: 25px;
	color: #CCFFCC;
	


	

}

.tarun{
	color: #66FF99; 
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
		
}
.myinterests p{
	color: black;
	font-size: 20px;
	border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-color: yellow;
}
.myinterests h1{
	text-decoration: none;
	color: Black;
}
.socialnetworks h1{
	font-size: 35px;
}
.social {
	display: inline-block;
	font-size:64px;
	float: right;
}

